:root {
    --size: calc(min(90vw, 90vh));
    --fade-size: calc(min(100vw, 100vh));
    --background-color: #ffffff;
    --fade-background-color: rgb(255, 255, 255, 0);
    --text-color: #000000;
    --pointer-color: #000000;
    --compass-color: #000000;

    --shadow-color: #000000;
    --cardinal-major-color: rgb(40, 204, 13, 1);
    --minor-tick-color: rgb(0, 0, 0, .5);
    --major-tick-color: rgb(0, 0, 0, 1);
}

[data-theme="dark"] {
    --background-color: #000000;
    --text-color: #ffffff;
    --pointer-color: #ffffff;
    --compass-color: #ffffff;

    --shadow-color: #ffffff;
    --cardinal-major-color: rgb(40, 204, 13, 1);
    --minor-tick-color: rgb(255, 255, 255, .5);
    --major-tick-color: rgb(255, 255, 255, 1);
}

body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    margin: 0;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    position: absolute;
    top: 50vh;
}

@media (aspect-ratio: 16/9) {
    .container {
        align-items: flex-start;
        /* adjust to the top when width is greater */
    }
}

@media (aspect-ratio: 9/16) {
    .container {
        justify-content: flex-start;
        /* adjust to the left when height is greater */
    }
}

.compass-bearing-top {
    position: absolute;
    text-align: center;
    width: 100vw;
    font-size: xx-large;
}

.compass-pointer {
    width: 5px;
    height: 100%;
    background: var(--pointer-color);
    background-image: linear-gradient(var(--cardinal-major-color), var(--pointer-color));
    border-radius: 50% 50% 0 0;
}

.compass-border {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 5px solid var(--compass-color);
    box-sizing: border-box;
    box-shadow: 0px 0px 15px var(--shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12em;
    text-align: center;
}

.compass-fade {
    position: absolute;
    width: var(--fade-size);
    height: var(--fade-size);
    border-radius: 50%;
    box-sizing: border-box;
    background: linear-gradient(to top, var(--background-color), 75%, var(--fade-background-color));
}

.cardinal-letter {
    position: absolute;
    font-size: 20px;
    left: -50;
}

.n {
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg);
    font-size: 30px;
    top: 6px;
}

.e {
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg);
    font-size: 30px;
    top: -10px;
}

.s {
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg);
    font-size: 30px;
    top: -10px;
}

.w {
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg);
    font-size: 30px;
    top: -15px;
}

.major-tick-15 {
    position: absolute;
    width: 15px;
    height: 0px;
    border: 2px solid var(--major-tick-color);
    border-radius: 15px;
}

.major-tick-15-N {
    position: absolute;
    width: 15px;
    height: 0px;
    border: 2px solid var(--cardinal-major-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.minor-tick-10 {
    position: absolute;
    width: 10px;
    height: 0px;
    border: 1px solid var(--minor-tick-color);
}

.minor-tick-5 {
    position: absolute;
    width: 5px;
    height: 0px;
    border: 1px solid var(--minor-tick-color);
}

.compass-ticks {
    height: 100%;
    width: 100%;
    position: absolute;
}

.compass-theme {
    margin: 5px;
    position: relative;
    top: 0;
    right: 0;
}

.compass-accuracy {
    z-index: 1000;
    margin: 5px;
    position: absolute;
    top: 50px;
    right: 0px;
}

.compass-stats-bl {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 5px;
    font-size: x-large;
}

.compass-stats-ul {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 5px;
    font-size: large;
}

.compass-stats-ur {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
    font-size: x-large;
}

.compass-stats-uc {
    position: absolute;
    top: 0px;
    right: 25%;
    width: 50%;
    margin: 5px;
    font-size: x-large;
}

.compass-stats {
    margin: 5px;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.pointer-toggle {
    margin: 5px;
    position: relative;
    bottom: 0;
    right: 0;
}

.pointer-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.pointer-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(40, 204, 13);
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(255, 255, 255, .5);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.compass-heading {
    top: 50%;
    left: 50%;
}