:root {
    --size: calc(min(90vw, 90vh));

    --background-color: #ffffff;
    --text-color: #000000;
    --pointer-color: #000000;
    --compass-color: #000000;

    --shadow-color: #000000;
    --cardinal-major-color: rgb(40, 204, 13, 1);
    --minor-tick-color: rgb(0, 0, 0, .5);
    --major-tick-color: rgb(0, 0, 0, 1);
    --compass-dir-up-svg: url(images/compass-dir-up-dark.svg);
    --compass-north-up-svg: url(images/compass-north-up-dark.svg);
    --compass-light-to-dark-svg: url(images/light-to-dark.svg);
    --compass-dark-to-light-svg: url(images/dark-to-light.svg);
}

[data-theme="dark"] {
    --background-color: #000000;
    --text-color: #ffffff;
    --pointer-color: #ffffff;
    --compass-color: #ffffff;

    --shadow-color: #ffffff;
    --cardinal-major-color: rgb(40, 204, 13, 1);
    --minor-tick-color: rgb(255, 255, 255, .5);
    --major-tick-color: rgb(255, 255, 255, 1);
    --compass-dir-up-svg: url(images/compass-dir-up-light.svg);
    --compass-north-up-svg: url(images/compass-north-up-light.svg);
    --compass-light-to-dark-svg: url(images/light-to-dark.svg);
    --compass-dark-to-light-svg: url(images/dark-to-light.svg);
}

body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    margin: 0;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.compass-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

@media (aspect-ratio: 16/9) {
    .compass-container {
        align-items: flex-start;
        /* adjust to the top when width is greater */
    }
}

@media (aspect-ratio: 9/16) {
    .compass-container {
        justify-content: flex-start;
        /* adjust to the left when height is greater */
    }
}

.compass-stats-uc {
    position: absolute;
    text-align: center;
    width: 100vw;
    font-size: xx-large;
    /* top: 47.5vh; */
}

.compass-pointer {
    width: 5px;
    height: 100%;
    background: var(--pointer-color);
    background-image: linear-gradient(var(--cardinal-major-color), var(--pointer-color));
    border-radius: 50% 50% 0 0;
}

.compass-border {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 5px solid var(--compass-color);
    box-sizing: border-box;
    box-shadow: 0px 0px 15px var(--shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12em;
    text-align: center;
}

.cardinal-letter {
    position: absolute;
    font-size: 20px;
    left: -50;
}

.n {
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg);
    font-size: 30px;
    top: 6px;
}

.e {
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg);
    font-size: 30px;
    top: -10px;
}

.s {
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg);
    font-size: 30px;
    top: -10px;
}

.w {
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg);
    font-size: 30px;
    top: -15px;
}

.major-tick-15 {
    position: absolute;
    width: 15px;
    height: 0px;
    border: 2px solid var(--major-tick-color);
    border-radius: 15px;
}

.major-tick-15-N {
    position: absolute;
    width: 15px;
    height: 0px;
    border: 2px solid var(--cardinal-major-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.minor-tick-10 {
    position: absolute;
    width: 10px;
    height: 0px;
    border: 1px solid var(--minor-tick-color);
    border-radius: 10px;
}

.minor-tick-5 {
    position: absolute;
    width: 5px;
    height: 0px;
    border: 1px solid var(--minor-tick-color);
    border-radius: 5px;
}

.compass-ticks {
    height: 100%;
    width: 100%;
    position: absolute;
}

.compass-stats-bl {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 5px;
    font-size: x-large;
}

.compass-stats-ul {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 5px;
    font-size: x-large;
}

.compass-stats-ur {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
    font-size: x-large;
}

.compass-stats-br {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 5px;
    font-size: x-large;
}

.compass-stats {
    margin: 5px;
}

.pointer-switch {
    position: relative;
    display: inline-block;
    width: 60px;
}

.pointer-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--shadow-color);
    transition: .4s;
    height: 2px;
}

.slider:before {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 2px;
    transition: .4s;
}

.theme-switch .slider:before {
    content: "";
    background-image: var(--compass-dark-to-light-svg);
    background-size: 24px 24px;
}

.theme-switch input:checked+.slider:before {
    content: "";
    background-image: var(--compass-light-to-dark-svg);
    background-size: 24px 24px;
    transform: translateX(36px);
}

.pointer-switch .slider:before {
    content: "";
    background-image: var(--compass-dir-up-svg);
    background-size: 24px 24px;
}

.pointer-switch input:checked+.slider:before {
    content: "";
    background-image: var(--compass-north-up-svg);
    background-size: 24px 24px;
    transform: translateX(36px);
}

.compass-heading {
    top: 50%;
    left: 50%;
}

.pin {
    background-color: greenyellow;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}

.pin-label {
    position: absolute;
    font-size: 12px;
    color: var(--text-color);
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
}